<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title ? @page_title  : "Welcome" %> | The BookStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="<%= params[:controller] == 'books' ? 'nav-item active' :'nav-item' %>">
            <%= link_to('Home',root_path, class: "nav-link")%>
          </li>
          <li class="<%= params[:controller] == 'about' ? 'nav-item active' :'nav-item' %>">
            <%= link_to('About',about_path, class: "nav-link")%>
          </li>
          <li class="nav-item dropdown pull-right">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add New</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <%= link_to('Book', new_book_path, class:"dropdown-item") %>
              <%= link_to('Category', new_category_path, class:"dropdown-item") %>
              <%= link_to('Author', new_author_path, class:"dropdown-item") %>
              <%= link_to('Publisher', new_publisher_path, class:"dropdown-item") %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <%= link_to('Categories', categories_path, class:"dropdown-item") %>
              <%= link_to('Authors', authors_path, class:"dropdown-item") %>
              <%= link_to('Publishers', publishers_path, class:"dropdown-item") %>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <header>
      <div class="container">
        <h1>The Bookstore <small><%= @page_title ? @page_title  : "Welcome" %></small></h1>
      </div>
    </header>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <!-- Alerts & Messages -->
            <% if flash[:notice] %>
              <div class="alert alert-success"><%= flash[:notice] %></div>
            <% elsif flash[:warning] %>
              <div class="alert alert-danger"><%= flash[:warning] %></div>
            <% end %>
              <%= yield %>
          </div>
          <div class="col-md-4">
            <%= render('partials/sidebar')%>
          </div>
        </div>
      </div>
      <footer>
       <div class="contanier">
         <p>Copyright &copy; 2014, All Rights Reserved</p>
       </div>
      </footer>
    </section>
  </body>
</html>
